body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
}

.cat-image {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}

.cat-image:hover {
    transform: scale(1.1);
}
